html { 
	font-family: "Montserrat"; 
	}

div.white_section {
   	background-color: white;
   	height: 35%;
   	border: 5px solid blue;
   	position: relative;
   }

div.gray_section {
	position: relative;
   	background-color: #D3D3D3;
   	height: 50%;
   	border: 5px solid green;
}

div.form_section {
	height: 5%;
 	padding: 15px;
 	float: left;
 	margin: 5px;
  	border: 5px solid red;
  	position: relative;
}

div.inner_container {
	margin: 50px;
	width: 75%;
	position: absolute;
	border: 5px solid orange;
}





