html { 
	font-family: "Montserrat";
	}
	
div.form {
 	height:300px;
 	width: 100%;
 	border: 10px solid red;
 	float: top left;
}

div.form_section {
 	padding: 0;
 	border: 10px solid #222222;
 	float: left;
 	}

div.white_section {
   	height: 100%;
   	background-color: white;
   }

div.gray_section {
   	height: 100%;
   	background-color: #D3D3D3;
   }

div.inner_container {
	margin: 50px;
}

div.form		
	input style= display:inline;
	}

