html { 
	font-family: "Montserrat"; 
	padding: 2px;
	}
/* QUESTION*/
 #header {
 	background-image: url(images/background.png); 
 	background-size: cover;
    background-repeat: no-repeat;
    }

    /* the image is not absolute in its rendering and jumbles with the other divs */

div.white_section {
   	background-color: white;
   	position: relative;
   	height: 20%;
   	margin-top: 150px;
   	padding-top:10px; 
	/*border: 5px solid blue;*/   
   }
/* QUESTION */
div.gray_section {
	position: relative;
   	height: 30%
   	   	/*border: 5px solid green;*/
/* QUESTION:; in this example the text that I have within the gray section is overflowing the space.  How can I expand the container to expand as long as there is text or content? */
}

div.form_section {
	float: left;
 	position: relative;
 	margin: 10px;
  	/*border: 5px solid red;*/
}

/* QUESTION: why doesn't inner container wrap all the items inside of it?*/
div.inner_container {
	height: 50%;
	width: 90%;
	position: relative;
	margin-left: 50px;
	/*border: 5px solid orange;*/
}

div.column_seventy_five_percent {
	width: 50%;
   	margin: 5px;
   	float: left;
  	/*border: 5px solid maroon;*/
}

/*QUESTION*/
div.column_twenty_five_percent {
	width: 30%;
 	margin: 5px;
 	float: left;
 }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.shopping {
    background-color: white;
    color: black;
    border: 2px solid #D3D3D3;
    width: 100%;

}

.checkout {
    background-color: #008CBA;
    color: black;
    border: 2px solid #D3D3D3;
    width:100%;
     	
}

.checkout:hover {
	background-color: #006d91;
 	
}

div.container {
	display: inline-block;
}

div.two_columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}





